.header {
    &__content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 20rem;
    }
    &__button {
        margin-top: 2.3rem;
        background-color:#bd3c0b;
        padding: 1.3rem 3.6rem;
        color: white;
        font-size: 1.7rem;
        font-family: inherit;
        font-weight: bold;
        border-radius: 30px;
        cursor: pointer;
    }
}


.navigation {
    margin-top: 2.8rem;
    &__list {
        display: flex;
        list-style: none;
        font-size: 1.7rem;
    }
    &__item {
        margin-left: 30px;
        &-link {
            text-decoration: none;
            font-family: inherit;
            font-weight: 500;
            color: black;
            transition: .4s all;
            cursor: pointer;

            &:hover {
                color: #bd3c0b;
            }
        }
    }
}

.nav__mobile {
  margin-top: 20px;
  display: none;
}

@media(max-width: 914px) {
    .navigation {
        display: none;
    }
    .nav__mobile {
      display: inline-block;
    }
}
