@import '../core/components/navbar/navbar.component.scss';

.hero {
  background-color: #bd3c0b;
  background-position: top 200px left 90%;
  border-radius: 5px 5px 50px 50px;
  height: 400px;
  width: 90%;
  margin: auto;
  background-repeat: no-repeat;

  &__content {
    padding-top: 30px;
    padding-left: 100px;
    width: 60%;
    p {
      color: white;
      font-size: 1.8rem;
      line-height: 3rem;
      font-family: inherit;
      margin-top: 1rem;
    }
  }
  &__button {
    margin-top: 10px;
    background-color: white;
    padding: 20px 60px;
    font-family: inherit;
    color: #bd3c0b;
    border-radius: 50px;
    font-size: 2.3rem;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    width: 25%;
    font-weight: 500;
  }
}

.join {
  margin-top: 60px;
  &__content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 37%;
    &-circle {
      border: 10px solid #bd3c0b;
      margin-top: 20px;
      padding: 60px 50px;
      border-radius: 50%;
      box-shadow: 10px 10px 40px -10px;
      h1 {
        font-size: 4rem;
        font-family: inherit;
        text-align: center;
      }
      p {
        font-size: 1.7rem;
        font-family: inherit;
        text-align: center;

        &::before {
          content: '';
          width: 40px;
          border: 2px solid black;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }

  &__form {
    margin-top: 30px;
    margin-left: 30rem;
    height: 100%;
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.3rem;
      font-family: inherit;
    }
    button {
      color: white;
      outline: none;
      border: none;
      background-color: #bd3c0b;
      border-radius: 40px;
      cursor: pointer;
      padding: 13px 70px;
      margin-top: 20px;
      font-size: 2rem;
      font-family: inherit;
      box-shadow: 20px 10px 40px #c7c7c7c7;
      margin-bottom: 50px;
    }
  }
}
mat-form-field{
  width: 100%;
  height: 70px;
}

mat-label {
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
}
input {
  height: 100%;
  padding: 10px;
}

@media(max-width: 1850px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    width: 26%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 36%;
  }
  .join__form {
    margin-left: 20rem;
  }
}

@media(max-width: 1758px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    width: 29%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 40%;

    &-circle {
      padding: 50px 0px;
    }
  }
  .join__form {
    margin-left: 20rem;
  }
}

@media (max-width: 1637px) {
  .join__info {
    width: 46%;
  }
}

@media(max-width: 1555px) {
  .hero__button {
    width: 32%;
  }
  .join__info {
    width: 51%;

    &-circle {
      padding: 50px 0px;
    }
  }
  .join__form {
    margin-left: 20rem;
  }
}

@media(max-width: 1440px) {
  .hero {
    height: 450px;
  }
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    width: 35%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 63%;
  }
  .join__form {
    margin-left: 20rem;
  }
}

@media(max-width: 1447px) {
  .join__info {
    width: 60%;
  }
  .join__info-circle {
    padding: 50px 30px;
  }
}


@media(max-width: 1396px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    width: 38%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 70%;
  }
  .join__form {
    margin-left: 20rem;
  }
}

@media(max-width: 1302px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    display: inline-block;
    width: 35%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 60%;
  }
}

@media(max-width: 1249px) {
  .join__info {
    width: 79% ;
  }
}

@media(max-width: 1236px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
  .hero__button {
    display: inline-block;
    width: 37%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 76%;
  }
}


@media(max-width: 1180px) {
  .hero__content {
    p {
      font-size: 2.5rem;
      line-height: 3.4rem;
    }
  }
  .hero__button {
    display: inline-block;
    width: 40%;
  }
  .join__content {
    width: 90%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 40%;
  }
  .join__form {
    margin-left: 10rem;
  }
}

@media(max-width: 1141px){
  .hero__button {
    width: 47%;
  }
}

@media(max-width: 1101px) {
  .hero__content {
    p {
      font-size: 2.2rem;
      line-height: 3.4rem;
    }
  }
  .hero__button {
    display: inline-block;
    width: 45%;
  }
  .join__content {
    width: 90%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 50%;
  }
  .join__form {
    margin-left: 10rem;
  }
}


@media(max-width: 990px) {
  .hero__content {
    p {
      font-size: 2rem;
      line-height: 3.3rem;
    }
  }
  .hero__button {
    display: inline-block;
    width: 48%;
  }
  .join__content {
    width: 90%;
  }
  .join__circle {
    h1 {
      font-size: 5rem;
    }
  }
  .join__info {
    width: 60%;
  }
  .join__form {
    margin-left: 10rem;
  }
}

@media(max-width: 990px) {
  .hero__content {
    width: 80%;
  }
  .hero__button {
    display: inline-block;
    width: 40%;
  }
  .join__info {
    width: 65%;
  }
}

@media(max-width: 978px) {
  .hero__content {
    width: 80%;
  }
  .hero__button {
    display: inline-block;
    width: 45%;
  }
  .join__info {
    width: 70%;
  }
}

@media(max-width: 903px) {
  .join__info {
    width: 95%;
  }
}

@media(max-width: 797px) {
  .hero__content {
    width: 80%;
  }
  .hero__button {
    display: inline-block;
    width: 50%;
  }
  .join__info {
    width: 100%;
  }
}

@media(max-width: 773px) {
  .hero {
    width: 100%;
    border-radius: 0;
  }
  .hero__content {
    padding-left: 40px;
    width: 100%;
  }
  .hero__button {
    display: inline-block;
    width: 32%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 35%;
  }
}

@media(max-width: 675px) {
  .hero__button {
    display: inline-block;
    width: 35%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 38%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 653px) {
  .hero__button {
    width: 40%;
  }
}

@media(max-width: 621px) {
  .hero__button {
    display: inline-block;
    width: 39%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 40%;
  }
  .join__form {
    margin-left: 0;
  }
}
@media(max-width: 560px) {
  .hero__button {
    display: inline-block;
    width: 45%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 45%;
  }
  .join__form {
    margin-left: 0;
  }
}
@media(max-width: 593px) {
  .hero__button {
    width: 47%;
  }
}
@media(max-width: 499px) {
  .hero__button {
    display: inline-block;
    width: 53%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.9rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    margin: auto;
    width: 50%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 439px) {
  .hero__button {
    display: inline-block;
    width: 57%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.9rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    margin: auto;
    width: 57%;
  }
  .join__form {
    margin-left: 0;
  }
}
@media (max-width: 417px) {
  .hero__button {
    width: 65%;
  }
}
@media(max-width: 397px) {
  .hero__button {
    display: inline-block;
    width: 67%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.7rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    margin: auto;
    width: 60%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 361px) {
  .hero__button {
    display: inline-block;
    width: 74%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.7rem;
      margin-top: .3rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    margin: auto;
    width: 67%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 323px) {
  .hero__button {
    width: 60%;
    padding: 10px 20px;
  }
}
