<header>
  <div class="header">
    <div class="header__content">
        <a [routerLink]="['/home']"><img src="../../../../assets/images/logo" alt="lifebank_logo" class="header__logo"></a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a [routerLink] = "['/waiting']" class="navigation__item-link">Join waiting list</a></li>
                <li class="navigation__item"><a class="navigation__item-link" (click)= "openDialog()">Sign up your lab</a></li>
                <li class="navigation__item"><a class="header__button" (click)="openLoginDialog()">Login</a></li>
            </ul>
        </nav>
        <!-- <button class="header__button" (click)="openLoginDialog()">Login</button> -->
        <div class="nav__mobile">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click) = "openDialog()">
              <span>Sign up your lab</span>
            </button>
            <button mat-menu-item>
              <a [routerLink] = "['/waiting']" class="navigation__item-link">Join waiting list</a>
            </button>
            <button mat-menu-item (click) = "openLoginDialog()">
              <a class="header__button" (click)="openLoginDialog()">Login</a>
            </button>
          </mat-menu>
        </div>
    </div>
</div>
</header>


<section class="hero">
    <div class="hero__content">
      <p>With LifeBank’s Home sample collection kit you can easily collect medical samples needed for the COVID-19 screening from the comfort of your home!
      </p>
      <p>
        We will pick-up and deliver your samples to the testing centers!
      </p>
      <p>Currently, we are prioritising healthcare workers to ensure their safety and allow them to provide the best care needed for treating infected patients. </p>
      <p>
          Join our waiting list now and be among the first people to know when a new inventory is available.
      </p>
      <button  href="#join" class="hero__button">Join Now </button>
    </div>
</section>

<section class="join">
  <div class="join__content">
    <div class="join__info">
      <div class="join__info-circle">
        <h1>50</h1>
        <p>People on waiting list</p>
      </div>
      <div class="join__info-circle">
        <h1>40</h1>
        <p>Kits delivered</p>
      </div>
      <div class="join__info-circle">
        <h1>30</h1>
        <p>People tested with kit</p>
      </div>
    </div>
    <div class="join__form">
      <h1 id="join">Please fill out this form to join the waiting list</h1>
      <form>

        <!-- <mat-form-field appearance="outline">
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose date and time" [disabled]="disabled" formControlName = "dateTime">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
            ></ngx-mat-datetime-picker>
            <mat-error *ngIf="requestForm.get('dateTime').errors?.required">
              Choose a date and time
            </mat-error>
        </mat-form-field> -->

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Email Address">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Pickup Address</mat-label>
            <input matInput placeholder="Pickup Address">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Preferred delivery address</mat-label>
            <input matInput placeholder="Preferred delivery address">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Number of Kits</mat-label>
            <input matInput placeholder="Number of kits">
          </mat-form-field>
          <button class="btn">Request</button>
      </form>
    </div>
  </div>
</section>

