@import '../core/components/navbar/navbar.component.scss';

.hero {
  background-color: #bd3c0b;
  background-image: url('../../assets/images/hourglass.png');
  background-position: top 80px left 90%;
  border-radius: 5px 5px 50px 50px;
  height: 400px;
  width: 90%;
  margin: auto;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: space-around;
  }

  &__content {
    padding-top: 30px;
    padding-left: 100px;
    width: 60%;
    p {
      color: white;
      font-size: 1.8rem;
      line-height: 3rem;
      font-family: inherit;
      margin-top: 1rem;
    }
  }
  &__button {
    margin-top: 10px;
    background-color: white;
    padding: 20px 50px;
    font-family: inherit;
    color: #bd3c0b;
    border-radius: 50px;
    font-size: 2.3rem;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    font-weight: 500;
  }
  &__image {
    padding-top: 30px;
    width: 20%;
    height: 20%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.join {
  margin-top: 60px;
  &__content {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    width: 37%;
    &-circle {
      border: 10px solid #bd3c0b;
      margin-top: 20px;
      border-radius: 50%;
      width: 250px;
      height: 250px;
      padding: 50px 0px;
      box-shadow: 10px 10px 40px -10px;
      h1 {
        font-size: 4rem;
        font-family: inherit;
        text-align: center;
      }
      p {
        font-size: 1.7rem;
        font-family: inherit;
        text-align: center;

        &::before {
          content: '';
          width: 40px;
          border: 2px solid black;
          display: block;
          margin: 10px auto;
        }
      }
    }
  }

  &__form {
    margin-top: 30px;
    margin-left: 10rem;
    height: 100%;
    font-size: 15px;
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.3rem;
      font-family: inherit;
    }
    button {
      color: white;
      outline: none;
      border: none;
      background-color: #bd3c0b;
      border-radius: 40px;
      cursor: pointer;
      padding: 13px 70px;
      margin-top: 20px;
      font-size: 2rem;
      font-family: inherit;
      box-shadow: 20px 10px 40px #c7c7c7c7;
      margin-bottom: 50px;
    }
  }
}

mat-form-field{
  width: 100%;
  height: 90px;
}

[disabled] {
  cursor: not-allowed;
}

.message {
  margin-top: 30px;
  margin-left: 5rem;
  padding: 20px;
  min-height: 200px;
  width: 100%;
  border-radius: 20px;

  p {
    font-size: 20px;
    line-height: 4rem;
    font-family: inherit;
    color: #155724
  }
}

@media(max-width: 1850px) {
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
}

@media(max-width: 1555px) {
  .hero__content{
    p {
      font-size: 1.7rem;
    }
  }
}

@media(max-width: 1440px) {
  .hero {
    height: 450px;
  }
  .hero__content {
    p {
      font-size: 2rem;
    }
  }
}


@media(max-width: 1180px) {
  .hero__content {
    p {
      font-size: 2.5rem;
      line-height: 3.4rem;
    }
  }
}

@media(max-width: 1101px) {
  .hero__content {
    p {
      font-size: 2rem;
      line-height: 3.4rem;
    }
  }
}


@media(max-width: 990px) {
  .hero__content {
    p {
      font-size: 1.5rem;
      line-height: 3.3rem;
    }
  }
}

@media(max-width: 776px) {
  .hero {
    width: 100%;
    border-radius: 0;
    background-image: none;
  }
  .hero__content {
    padding-left: 40px;
    width: 100%;
    p {
      line-height: 3.2rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 35%;
  }
}

@media(max-width: 675px) {
  .hero__button {
    display: inline-block;
    width: 35%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    margin: auto;
    width: 38%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 653px) {
  .hero__button {
    width: 40%;
  }
}

@media(max-width: 621px) {
  .hero__button {
    display: inline-block;
    width: 39%;
  }
  .join__form {
    margin-left: 0;
  }
}
@media(max-width: 560px) {
  .hero__button {
    display: inline-block;
    width: 45%;
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join__info {
    width: 45%;
    margin-left: 60px;
  }
  .join__form {
    margin-left: 0;
  }
}
@media(max-width: 593px) {
  .hero__button {
    width: 47%;
  }
}
@media(max-width: 499px) {
  .hero__button {
    display: inline-block;
    width: 53%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.9rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    width: 50%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 439px) {
  .hero__button {
    display: inline-block;
    width: 57%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.9rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    width: 57%;
  }
  .join__form {
    margin-left: 0;
  }
}
@media (max-width: 417px) {
  .hero__button {
    width: 65%;
  }
  .join__content {
    margin-left: 10px;
  }
}
@media(max-width: 397px) {
  .hero__button {
    display: inline-block;
    width: 67%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.7rem;
      margin-top: .8rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
    width: 100%;
  }
  .message {
    p {
      font-size: 1.7rem;
      line-height: 3rem;
    }
  }
  .join__info-circle {
    width: 220px;
    height: 220px;
  }
}

@media(max-width: 361px) {
  .hero__button {
    display: inline-block;
    width: 74%;
  }
  .hero__content {
    padding: 20px;
    p {
      font-size: 1.7rem;
      margin-top: .3rem;
      line-height: 2.8rem;
    }
  }
  .join__content {
    flex-wrap: wrap;
  }
  .join {
    margin-top: 40px;
  }
  .join__info {
    width: 67%;
  }
  .join__form {
    margin-left: 0;
  }
}

@media(max-width: 323px) {
  .hero__button {
    width: 60%;
    padding: 10px 20px;
  }
}
