<header>
  <div class="header">
    <div class="header__content">
        <a [routerLink]="['/home']"><img src="../../../../assets/images/logo.gif" alt="lifebank_logo" class="header__logo"></a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a [routerLink] = "['/waiting']" class="navigation__item-link">Join waiting list</a></li>
                <li class="navigation__item"><a class="navigation__item-link" (click)= "openDialog()">Sign up your lab</a></li>
                <li class="navigation__item"><a class="header__button" (click)="openLoginDialog()">Login</a></li>
            </ul>
        </nav>
        <!-- <button class="header__button" (click)="openLoginDialog()">Login</button> -->
        <div class="nav__mobile">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click) = "openDialog()">
              <span>Sign up your lab</span>
            </button>
            <button mat-menu-item>
              <a [routerLink] = "['/waiting']" class="navigation__item-link">Join waiting list</a>
            </button>
            <button mat-menu-item (click) = "openLoginDialog()">
              <a class="header__button" (click)="openLoginDialog()">Login</a>
            </button>
          </mat-menu>
        </div>
    </div>
</div>
</header>

<section class="hero">
    <div class="hero__content">
      <p>With LifeBank’s Home sample collection kit you can easily collect medical samples needed for the COVID-19 screening from the comfort of your home!
      </p>
      <p>
        We will pick-up and deliver your samples to the testing centers!
      </p>
      <p>Currently, we are prioritising healthcare workers to ensure their safety and allow them to provide the best care needed for treating infected patients. </p>
      <p>
          Join our waiting list now and be among the first people to know when a new inventory is available.
      </p>
      <button  href="#join" class="hero__button">Join Now </button>
    </div>
</section>

<section class="join">
  <div class="join__content">
    <div class="join__info">
      <div class="join__info-circle">
        <h1>50</h1>
        <p>People on waiting list</p>
      </div>
      <div class="join__info-circle">
        <h1>40</h1>
        <p>Kits delivered</p>
      </div>
      <div class="join__info-circle">
        <h1>30</h1>
        <p>People tested with kit</p>
      </div>
    </div>
    <div class="join__form" *ngIf ="!showMessage">
      <h1 id="join">Please fill out this form to join the waiting list</h1>
      <form [formGroup]="this.waitingListForm" (ngSubmit)="onSubmit(waitingListForm.value)" >
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="first_name">
          <mat-error *ngIf="waitingListForm.get('first_name').errors?.required">
            First Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="last_name">
          <mat-error *ngIf="waitingListForm.get('last_name').errors?.required">
            Last name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone Number" formControlName="phone_number">
          <mat-error *ngIf="waitingListForm.get('phone_number').errors?.required">
            Phone Number is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email Address:</mat-label>
          <input matInput placeholder="Email Address" formControlName="email_address">
          <mat-error *ngIf="waitingListForm.get('email_address').errors?.email">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="waitingListForm.get('email_address').errors?.required">
            Email is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pickup Address</mat-label>
          <input matInput placeholder="Pickup Address" formControlName="pickup_address">
          <mat-error *ngIf="waitingListForm.get('pickup_address').errors?.required">
            Pickup Address
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Delivery Address</mat-label>
          <input matInput placeholder="Delivery Address" formControlName="delivery_address">
          <mat-error *ngIf="waitingListForm.get('delivery_address').errors?.required">
            Delivery Address is required
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Number of Kits</mat-label>
          <input matInput placeholder="Contact Address" formControlName="number_of_kits">
          <mat-error *ngIf="waitingListForm.get('number_of_kits').errors?.required">
            Enter Number of kits
          </mat-error>
        </mat-form-field>
        <button class="btn" [disabled]="!waitingListForm.valid">Register</button>
    </form>
    </div>
    <div class="message" *ngIf="showMessage">
      <p>Thank you for submitting your request. You have been successfully added to our waiting list. You will be contacted via email once the kits are available to members of the public in accordance to positions on this waiting list. Stay Home, Stay Safe, Stay Strong!</p>
    </div>
  </div>
</section>
