<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName = 'email'>
      <mat-error *ngIf="loginForm.get('email').errors?.email && !loginForm.get('email').errors?.required">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').errors?.required">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName = 'pwd'>
      <mat-error *ngIf="loginForm.get('pwd').errors?.required">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button class="btn" [mat-dialog-close] = "loginForm.value" [disabled] = "!loginForm.valid">Login</button>
</form>
</mat-dialog-content>



