<h2 mat-dialog-title>Request a kit</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="this.requestForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="first_name">
      <mat-error *ngIf="requestForm.get('first_name').errors?.required">
        First Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="last_name">
      <mat-error *ngIf="requestForm.get('last_name').errors?.required">
        Last Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Phone Number" formControlName="phone_number">
      <mat-error *ngIf="requestForm.get('phone_number').errors?.required">
        Phone Number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>MDCN Number</mat-label>
      <input matInput placeholder="MDCN Number" formControlName="MDCN_Number">
      <mat-error *ngIf="requestForm.get('MDCN_Number').errors?.required">
        MDCN Number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pickup Address</mat-label>
      <input matInput placeholder="Pickup Address" formControlName="pickup_address">
      <mat-error *ngIf="requestForm.get('pickup_address').errors?.required">
        Pickup Address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preferred pickup date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="pickup_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-error *ngIf="requestForm.get('pickup_date').errors?.required">
      Please pick a date
    </mat-error>
    <button class="btn" [mat-dialog-close] = "requestForm.value" [disabled]="!requestForm.valid">Request</button>
</form>
</mat-dialog-content>

