<h2 mat-dialog-title>Become a lab partner</h2>
<mat-dialog-content class="mat-typography">
  <p>Are you accredited to run COVID-19 Real-time PCR tests?</p>
  <p>Sign up your lab today to be listed as one of the lab partners where people can get tested using LifeBank’s Home Sample Collection Kit.</p>
  <p style="font-weight: bold; font-style: italic;">Kindly fill out the form below and submit your request. Our team will contact you after your request has been reviewed, usually between 12-24 hours</p>
  <form [formGroup]="labPartnerForm">
    <mat-form-field appearance="outline">
      <mat-label>Name of Laboratory</mat-label>
      <input matInput placeholder="Name of Laboratory" formControlName="name_of_laboratory">
      <mat-error *ngIf="labPartnerForm.get('name_of_laboratory').errors?.required">
        Laboratory Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name of Lab Representative</mat-label>
      <input matInput placeholder="Name of Lab Representative" formControlName="name_of_lab_representative">
      <mat-error *ngIf="labPartnerForm.get('name_of_lab_representative').errors?.required">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contact Number</mat-label>
      <input matInput placeholder="Contact Number" formControlName="contact_number">
      <mat-error *ngIf="labPartnerForm.get('contact_number').errors?.required">
        Contact Number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contact Address</mat-label>
      <input matInput placeholder="Contact Address" formControlName="contact_address">
      <mat-error *ngIf="labPartnerForm.get('contact_address').errors?.required">
        Address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estimated Clientele base</mat-label>
      <input matInput placeholder="Estimated clientele base" formControlName="estimated_clientele_base">
      <mat-error *ngIf="labPartnerForm.get('estimated_clientele_base').errors?.required">
        Estimated Clientele base
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email Address of Lab. Representative:</mat-label>
      <input matInput placeholder="Email Address of Lab. Representative" formControlName="contact_email">
      <mat-error *ngIf="labPartnerForm.get('contact_email').errors?.email">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="labPartnerForm.get('contact_email').errors?.required">
        Email is required
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Contact Address" formControlName="password">
      <mat-error *ngIf="labPartnerForm.get('password').errors?.required">
        password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password" formControlName="confirm_password">
      <mat-error *ngIf="labPartnerForm.get('password').value !== labPartnerForm.get('confirm_password')">
        password doesn't match
      </mat-error>
    </mat-form-field>
    <button class="btn" [mat-dialog-close] = "labPartnerForm.value" [disabled]="!labPartnerForm.valid">Register</button>
</form>
</mat-dialog-content>


