.nav{
  padding: 26px 80px;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px -30px 50px gray;
  width: 100%;
  label{
    font-size: 1.7rem;
    font-family: inherit;
  }
  a {
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    font-family: inherit;
    margin-right: 50px;
    text-decoration: none;
    color: black;
  }
}

.container {
  min-height: 75vh;
  &__informations{
    width: 30%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .container__information {
      box-shadow: -4px 4px 20px #cecece;
      padding: 30px 60px;
      width: 250px;
      text-align: center;
      margin: 30px auto;
      h4 {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 36px;
        font-weight: bolder;
        margin-top: 20px;
      }
    }
  }
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 2px double 	#E8E8E8;
  color: #333;
  height: 5px;
  width: 100%;
}

footer{
  justify-content: space-between;
  padding: 30px 100px;
  display: flex;
  a{
    margin: 0 auto;
    font-size: 1.5rem;
    color: orangered;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
}

@media(max-width: 800px){
  .nav{
    padding: 26px 30px;
  }
  .container{
    .container__informations {
      width: 75%;
    }
  }
  .container__information{
    width: 500px;
  }
  footer{
    padding: 20px 10px;
  }
}
